* {
    margin: 0 ;
}
.navbar {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    color: #f87575;
    flex-direction: row;
    padding: 15px;
    font-size: 20px;
}
.nav-item-container {
    display: flex;
    column-gap: 40px;
}
.nav-item {
    color: rgb(255, 249, 196);
    font-size: 20px;
    column-gap: normal;
    padding: 5px;
}
.content-container h1 {
    text-align: center;
    margin-top: 40px;
}
.image img {
    position: fixed;
    top: 20%;
    left: 25%;
}